@{
    ViewData["Title"] = "Home";
}

<h2>Welcome</h2>

<p>
    To role based authentication and authorization in ASP.NET Core MVC application.
</p>
 <!--
<ul>
   <li>Admin: username <strong>admin</strong> password <strong>Admin@123</strong></li>
    <li>Manager: username <strong>manager1</strong> password <strong>Manager@123</strong></li>-
</ul>
--!>
<ul>
<li> Admin can create, edit, delete and view products.</li>
<li> Manager can edit and view products.</li>
</ul>
